$font-nav: 'Abel', sans-serif;      
$font-nav-color: #ffffff;
$font-highlight: #9eff6b;
$greyed-out: #555;
$navbar-bg: #191919;
$navbar-width: 300px;

//font
@import url('https://fonts.googleapis.com/css?family=Abel');


html, body {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*navigation section*/
#navbar {
    background-color: $navbar-bg;
    position: fixed;
    width: $navbar-width;
    height: 100vh;
}

//finally figured out how to center the a. make it a block. add padding. DONE
//the hover didnt work because of space "a :hover" vs "a:hover". However "li :hover" works. THANKS CSS 
#navbar {
    nav{
        margin-top: 5%;

        ul{
            text-align:center;    
            list-style: none;
            padding-left: 0px;
        }     

        a:hover{
            color: $font-nav-color;
        }
    
    
        a{
            text-decoration: none;
            font-size: 1.25em;
            display: block;
            padding: .75em;
            color: $greyed-out;
        }
    }

    #nav-logo {
        width: 80%;
        height: auto;
        max-width: $navbar-width;
    }

    a, #navbar-header{
        font-family: $font-nav;
        text-align: center;

        h2{
            font-size: 1.5em;
            color: $font-nav-color;
        }
    }
}

footer{
    position: fixed;
    width: 300px;
    bottom: 0px;
    background: $navbar-bg;

    i {
        color: $font-nav-color;
    }

    #navbar-footer{
        padding:0 20px 15px;
    }

    .navbar-icon{
        display: inline-block;
        padding-left: 5%;
    }

    .fa:hover{
        color: $font-highlight;
    }

    .fab:hover{
        color: $font-highlight;
    }
}



